backend:
  name: git-gateway
  branch: master
locale: 'pt-BR'
# logo_url: https://your-site.com/images/logo.svg
media_folder: public/static/img
public_folder: static/img
publish_mode: editorial_workflow
slug:
  encoding: 'ascii'
  clean_accents: true
  sanitize_replacement: '_'
collections:
  - label: 'posts'
    name: 'Posts'
    folder: 'src/content/posts'
    create: true
    slug: '{{year}}-{{month}}-{{day}}_{{slug}}'
    fields:
      - { label: 'Título ', name: 'title', widget: 'string', required: true }
      - { label: 'Categoria', name: 'categorie', widget: 'select', multiple: true, options: ["Arquitetura", "Código", "Design", "Transformação"], required: true }
      - { label: 'Quem escreveu', name: 'author', widget: 'string', required: true }
      - { label: 'Descrição', name: 'description', widget: 'string', required: true }
      - { label: 'Data de publicação', name: 'date', widget: 'datetime', required: true, dateFormat: "DD.MM.YYYY" }
      - { label: 'Imagem Destaque', name: 'thumbnail', widget: 'image', required: true }
      - { label: 'Post', name: 'body', widget: 'markdown', required: true }
